.contributors-container{
    margin-top: 2em;
}
.contributors-container-heading{

}
.contributors-container-heading > h1{
    color: var(--orange);
    text-align: center;
}
.contributors-container-heading > p{
    color: white;
    margin: 1em;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .contributors-container-heading > h1{
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
    .contributors-container-heading > p{
        font-size: 0.9em;
        margin: 0.2em;
    }
}

.contributor-name {
    color: white;
}

.contributors-container > .user-container{
    margin-top: 5em;
    color: var(--green);
    text-align: center;
}
.contributors-container > .user-container > .user-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contributors-container > .user-container > .user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-top: 1em;

}

.contributors-container  .user-container> .user-list > .user > p {
    color: white;
}

.commits-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 195px;
    overflow: auto;
    padding: 2px;

    /*border: 1px solid var(--orange);*/
    /*border-radius: 4%;*/
}
.commits-post::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
.commits-post > .commits-post-link > p {
    color: white;
}
.commits-post-auther{
    margin-bottom: 5px;
}
.commits-post > .commits-post-link > .commits-post-info {
    text-decoration: underline;
}

.issue-post{
    height: 150px;

    /*border: 1px solid var(--orange);*/
    /*border-radius: 4%;*/
    padding: 2px;
}

.issue-post > .commits-post-link > .issue-title {
    color: var(--green);
    text-decoration: underline;
    margin-bottom: 5px;
}