.explore-section{
    margin: 30px 50px 10px 50px;
}
.explore-uttarakhand{
    text-align: center;
    color: #FF9800;
    font-size: 40px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 480px) {
    .explore-uttarakhand{
        font-size: 30px;
    }
}

.explore-section > .explore-uttarakhand-info{
    color: grey;
    text-align: center;
    margin-bottom: 2em;
}
.explore-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 30px;
}
.explore-card{
    margin-top: 20px;
    border-radius: 3.5%;
    width: 250px;
    height: 250px;
    background-color: white;
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
.explore-card-animation{
    animation: slide-in linear ;
    animation-timeline: view();
}
@keyframes slide-in {
    1% {
        scale: 0;
        opacity: 0;
    }
    5% {
        scale: 0.1;
        opacity: 0;
    }
    30%{
        scale: 1;
        opacity: 1;
    }
}
}



.explore-card-image-container {
    border-radius: 3%;
    margin: 5px 5px 2px 5px;
    height: 210px;
    overflow: hidden;
    border: 1px solid black;
}
.explore-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.explore-card-image:hover {
    transform: scale(1.2);
}
.explore-card-text-container{
    text-align: center;
}
.explore-card-text{
    color: var(--red);
    font-size: 1.2em;
    font-weight: bold;
}

.explore-card:hover > a > .explore-card-text-container > .explore-card-text{
    transition: all .45s ease-in-out;
    color: var(--orange);
    text-decoration: underline;
}