.footer-image-container{
    -webkit-mask-image: linear-gradient(to bottom, #000000 60%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, #000000 60%, rgba(0, 0, 0, 0));
    overflow: clip;
}
.footer-image-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width: 925px) {
    .footer-image-container > .footer-image {
        animation: slide-ou 5s linear forwards; /* Corrected animation declaration */
        animation-timeline: view();
    }
    @keyframes slide-ou {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        50%{
            opacity: 1;
        }
        85%,100% {
            transform: scale(1.5);
            opacity: 1;
        }
    }
}
footer{
    margin-top: 10em;
}
.footer-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -17px 1em 5em 1em;
    justify-content: space-evenly;
    align-content: flex-start;
    gap : 2em
}
.footer-content{
    max-width: 500px;
}
.footer-content > a > h1{
    /*color: #FF9800;*/
    color: var(--green);
}
.footer-content-about{
    color: white;
    font-weight: bold;
}
.footer-content > ul > li {
    list-style: none;
    margin-top: 10px;
}

.footer-content > ul > li > a {
    display: block;
    color: white;
    transition: all .45s ease-in-out;
}
.footer-content > ul > li > a:hover{
    color: #B80000;
}
.footer-icon{
    width: 40px;
    margin: 10px 30px 20px 0;
    transition: all .40s ease;
}
.footer-icon:hover{
    transform: translateY(-3px) translateX(-5px);
}
.footer-content-links > p {
    margin-top: 2em;
    color: #FF9800;
    font-weight: bold;
    font-size: 1.1em;
}
.foot-note{
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
.Chevron{
    width: 20px;
    margin-bottom: -5px;
}
@media only screen and (max-width: 500px) {
    .footer-section{
        text-align: center;
    }
    .footer-content-links{
        text-align: left;
    }
    .footer-section{
        margin: -17px 1em 5em 1em;
    }
    .footer-links{
        gap: 2em;
    }
    h1{
        font-size: 1.5em;
    }
}