.uttarakhand-map{
    margin: 8em  0;
}
.uttarakhand-map-heading{
    text-align: center;
    color: #FF9800;
}
.uttarakhand-map-container {
    background: white;
    padding: 0;
    margin: 1em;
    overflow: auto;

    aspect-ratio: 10800/6900;
}
.uttarakhand-map-container > img {
    width: 100%;
    height: auto;
    aspect-ratio: 10800/6900;
    object-fit: cover;
    cursor: grab;

    transition: transform 0.3s ease-out;

    /* GPU-accelerated transform and will-change properties */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transform: transale3d(0,0,0);
    /*will-change: transform;*/
}

@keyframes fade-in {
    from{
       scale: 0;
    }
    to{
        scale: 1;
    }
}
.zoom-button-container{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 1em 0 1em 0;
}
.zoom-level-button {
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid var(--green);
}
.zoom-level-button:hover{
    background-color: var(--green);
    color: var(--orange);
    cursor: pointer;
}
.uttarakhand-map > p{
    font-weight: bold;
    text-align: center;
    color: grey;
}

@media only screen and (max-width: 500px) {
    .uttarakhand-map-container{
        margin: 0.1em;
    }
    .uttarakhand-map > p{
        margin-top: 0.5em;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        color: grey;
    }
}