.navbar-backside-frame{
    height: 67px;
}
.navbar-header {
    padding: 20px 30px;
    /*padding-bottom: 60px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: hsla(147, 17%, 46%, 0.65);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow:  0 3px 20px 2px rgba(0,0,0,0.1);

    /*-webkit-mask-image: linear-gradient(to bottom, #000000 55%, rgba(0, 0, 0, 0));*/
    /*mask-image: linear-gradient(to bottom, #000000 5%, rgba(0, 0, 0, 0));*/
}
.navbar > ul{
    list-style: none;
}
nav > ul > li > .navbar-link{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 18px;
    color: white;
    background-color: #B80000;
    border-radius: 2px;
}
nav > ul > li > .navbar-link:hover{
    background-color: #FF9800;
}
.title{
    color: #FF9800;
}
@media only screen and (max-width: 900px) {
    .title{
     font-size: 1.5rem;
    }

    .navbar-backside-frame{
        height: 63px;
    }
}


@media only screen and (max-width: 500px) {
    .navbar-backside-frame{
        height: 67px;
    }
}