.btn-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    border-radius: 8px 0 8px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.btn-container > button{
    border: none;
    color: #737373;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}