.uttarakhand-map{
    margin: 8em  0;
}
.uttarakhand-map-heading{
    text-align: center;
    color: #FF9800;
}
.uttarakhand-map-container{
    background: white;
    padding: 0;
    margin: 1em;
    overflow: hidden;
}
.uttarakhand-map-container > img{
    width: 100%;
    height: auto;
    aspect-ratio: 10800/6900;
    object-fit: cover;
}
.uttarakhand-map > p{
    font-weight: bold;
    text-align: center;
    color: grey;
}
.contributor-cardlist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contributor-profile{
    margin-top: 2em;
    text-align: center;
}
.contributor-profile-name > p{
    color: grey;
    font-size: 12px;
    font-weight: bold;
}
.contributor-profile-name > .profile-name{
    color: white;
    font-size: 1.1em;
    margin-bottom: 5px;
}
.contributor-profile-image-container > img{
    width: 150px;
    aspect-ratio: 793/797;
}
@media only screen and (max-width: 500px) {
    .uttarakhand-map-container{
        margin: 0.1em;
    }
    .uttarakhand-map > p{
        margin-top: 0.5em;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        color: grey;
    }
}