:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   /*border: 1px solid red;*/
}

body{
  background-color: #000000;
}
