:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*line-height: 1.5;*/
  /*font-weight: 400;*/

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #000000;
}

/*body::-webkit-scrollbar{*/
/*  display: none;*/
/*}*/

a{
  text-decoration: none;
}
